@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
::-webkit-scrollbar {
    display: none;
}


body {
    width: 100%;
    height: auto;
}

#logo-shop {
    cursor: pointer;
}


header nav.nav-bar {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0);
    padding: 30px 60px;
    z-index: 1;
 }

div.navegation a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    font-size: 24px;
    color: var(--text);
    cursor: pointer;
    transition: all 0.3 ease-in-out ;
    transform-origin: center;
    transform: scale(0);
 }

 div.navegation div.underline {
    content: "";
    transition: all 0.1s ease-in-out ;
    transform-origin: left;
    transform: scalex(0);
    position: relative;
    top: -3px;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--button);
 }


div.navegation a:hover ~ div.underline {
    transform: scale(1);
}



 div.search input {
    width: 220px;
    height: 45px;
    padding-left: 50px;
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    background-position-x: 10px;
    border: none;
 }

 div.search input::placeholder {
    font-weight: 400;
    font-size: 18px;
 }

 main {
    display: flex;
    justify-content: space-between;
 }

 main div.price-container {
    position: relative;
    margin-left: 8%;
 }


main div.price-container .title{
    width: 357px;
    display: flex;
    flex-direction: column;
}

main div.price-container h2{
    padding-top: 20vh;
    font-size: 60px;
    text-align: start;
    
}

main div.price-container p {
    font-size: 16px;
    color: var(--text-description);
    margin: 21px 0px;
}

main div.price-container span {
    font-weight: 700;
    font-size: 40px;
    color: var(--text);
}

main div.price-container button {
    margin-top: 30px;
    width: 274px;
    height: 90px;
    background-color: var(--button);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

main div.price-container button:hover {
    letter-spacing: 6px;
    font-size: 22px;
}


main section.container {
    position: relative;
    background-color: var(--main-background);
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 890px;
    width: 63%;
    padding-top: 7rem;
}

main section.container div.section-products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 18px;
    
}

main section.container div.section-products img {
    width: 270px;
    height: 182px;
    border-radius: 4px;
    
}

main section.container div.section-products img:nth-child(2) {
    border-bottom: 5px solid var(--button);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;   

}

div.social-media a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    font-size: 20px;
}



footer div.explorer-more {
    width: 437px;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer);
    color: var(--background);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

footer div.explorer-more div:last-child {
    padding-left: 5px;
    text-align: center;
    transition: 0.5s ;
}
footer div.explorer-more:hover div:last-child {
    padding-left: 25px;
    size: 110%;
}

footer div.explorer-more:hover div:first-child {
    letter-spacing: 1px;
}

footer div.social-media {

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
     
   
}
footer div.social-media a {
    height: 166px;
    width: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.facebook:hover {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}
footer div.facebook:hover a {
    color: white;
    font-size: 22px;
}

footer div.instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
footer div.instagram:hover a {
    color: white;
    font-size: 22px;
}

footer div.youtube:hover {
    background: linear-gradient(125deg, #ff0000, #b10000);
}
footer div.youtube:hover a {
    color: white;
    font-size: 22px;
}

footer div.twitter:hover a {
    color: white;
    font-size: 22px;
} 

footer div.twitter:hover {
    background: linear-gradient(to right, #56a7f2, #468aca);
}